*{
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 30px;
}

h3{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.599);
}


.main{
    background: black;
    height: 100vh;
}

.mask-top{
    height: 5vh;
    top: 0;
}

.mask-bottom{
    height: 5vh;
    bottom: 0;
}

.content{
    padding: 30px 25px 30px 25px;
    margin: 0 20px 0 20px;
    background: #00000073;
    border: solid 2px;
    border-color: rgba(255, 255, 255, 0.438);
    height: 80vh;
}